# configs
/.config/**

!/.config/kitty/
!/.config/kitty/*

!/.config/neofetch/
!/.config/neofetch/*

!/.config/xmonad/
!/.config/xmonad/*

!/.config/xmobar/
!/.config/xmobar/*

# useless dirs
/.cache/**
/.local/**
/.mozilla/**
/Downloads/**
/Documents/**
/.vim/**
/.oh-my-*
/.ssh/**

# shell stuff
.bash_*
!.bash_profile

.shell.pre-*
.vim*
.Xauthority
.zcompdump*
.zsh_*
