/.cache/**

/.config/**
!/.config/kitty/
!/.config/kitty/*


!/.config/neofetch/
!/.config/neofetch/*

!/.config/xmonad/
!/.config/xmonad/*


!/.config/xmobar/
!/.config/xmobar/*


/.local/**
/.mozilla/**
/Downloads/**
/.vim/**
/.oh-my-*

.bash_*
!.bash_profile

.shell.pre-*
.vim*
.Xauthority
.zcompdump*
.zsh_*
